body {
  font-family: Montserrat, sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.nav-container {
  width: 100%;
  position: relative;
}

.nav-bar {
  background-color: #003b73;
  justify-content: end;
}

.nav-links {
  justify-content: end;
  align-items: center;
  gap: 1.3rem;
}

.nav-element {
  padding: 2rem 0;
  font-size: 1.2rem;
  color: #f7f9fc;
}

.nav-element:hover {
  color: #0999ed;
  text-decoration: underline;
}

.active-nav-element {
  color: #ffd166;
}

.icon {
  font-size: 1.2rem;
  color: #f7f9fc;
  padding: 0.5rem;
}

.user-icon {
  padding-right: 2rem;
}

.active-icon {
  color: #ffd166;
}

.logo-container {
  position: absolute;
  top: 8px;
}

.header-logo {
  height: 8rem;
}

.hero-section {
  padding: 0 3rem;
}

.hero-text-container {
  justify-content: center;
  margin: 1rem 0;
}

.hero-text {
  font-family: Alegreya, serif;
  font-size: 1.4rem;
  color: #0999ed;
  letter-spacing: 0.07rem;
  margin: 0;
}

.hero-img {
  width: 100%;
}

@media only screen and (width >= 768px) {
  .header-logo {
    height: 18rem;
  }

  .nav-links {
    margin-right: 5rem;
    gap: 4vw;
  }

  .nav-element {
    padding: 3rem 0;
    font-size: 2.2rem;
  }

  .icon {
    font-size: 2.2rem;
    padding: 1.5rem;
  }

  .logo-container {
    position: absolute;
    padding-left: 5rem;
  }

  .hero-section {
    padding: 0 8rem;
  }

  .hero-text-container {
    margin-top: 3rem;
  }

  .hero-text {
    font-size: 6rem;
    letter-spacing: 0.2rem;
    margin: 0;
  }

  .hero-img {
    margin: 2rem auto;
  }

  #mobile-hero-img {
    display: none;
  }

  @media screen and (width >= 768px) and (width <= 1140px) {
    .hero-text {
      font-size: 3rem;
    }
  }
}

@media screen and (width < 992px) {
  .logo-container {
    position: absolute;
    padding-left: 0;
  }

  @media screen and (width < 768px) {
    #desktop-hero-img {
      display: none;
    }

    .carousel-hidden {
      display: none;
    }
  }
}
